services:
  api:
    build:
      context: ./back
      dockerfile: Dockerfile
    networks:
      - server-network
    image: tfg-api
    depends_on:
      - "mongodb"
    environment:
      - ACCESS_SECRET=valor_del_access_secret
      - REFRESH_SECRET=valor_del_refresh_secret
    volumes:
      - type: bind
        source: /folder/with/book/library
        target: /usr/src/exterior
      - type: bind
        source: /config/folder/dicts
        target: /usr/src/dicts
  client:
    build:
      context: ./front
      dockerfile: Dockerfile
    depends_on:
      - "api"
    networks:
      - server-network
    image: tfg-frontend
    ports:
      - "PORT:80"
  mongodb:
    image: mongo:4.4.22
    networks:
      - server-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "27018:27017"
    volumes:
      - type: bind
        source: /config/folder/db
        target: /data/db
    restart: unless-stopped
networks:
  server-network: