/* Config Menu */
.readerconf-enter {
    bottom:-100vh!important;
}
  
.readerconf-enter-active {
    bottom:0!important;
    transition: bottom 100ms ease-out!important;
}

.readerconf-enter-done {
    bottom:0!important;
}
  
.readerconf-exit {
    bottom:0!important;
}
  
.readerconf-exit-active {
    bottom:-100vh!important;
    transition: bottom 100ms ease-out!important;
}

.readerconf-exit-done {
    bottom:-100vh!important;
}

/* Left Bar mobile*/
@media only screen and (max-width: 1024px) {
    .textbox-enter {
        bottom: -500px;
    }
      
    .textbox-enter-active {
        bottom:0;
        transition: bottom 300ms ease;
    }
    
    .textbox-enter-done {
        bottom: 0;
    }
      
    .textbox-exit {
        bottom:0;
    }
      
    .textbox-exit-active {
        bottom:-500px;
        transition: bottom 300ms ease;
    }
    
    .textbox-exit-done {
        bottom:-500px;
    }
}

@media only screen and (min-width: 1024px) {
/* Left Bar desktop*/
.textbox-enter {
    left: -500px;
}
  
.textbox-enter-active {
    left:0;
    transition: left 300ms ease;
}

.textbox-enter-done {
    left: 0;
}
  
.textbox-exit {
    left:0;
}
  
.textbox-exit-active {
    left:-500px;
    transition: left 300ms ease;
}

.textbox-exit-done {
    left:-500px;
}
}