@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --height: 100vh;
  --primary-color:#24B14D
}

body {
  margin: 0;
  font-family: "Montserrat", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding:0!important;
  overflow: unset!important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,h1,h2,h3,h4,h5{
  margin:0;
}

ul,li{
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  color:unset;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

iframe{
  border:0;
  overflow: hidden;
}

.measure{height: var(--height)}